@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* ruff */


.welcome-container {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome {
  margin-top: 100px;
  font-size: 60px;
  font-family: 'Secular One';
  color: #000000;  
  transition: 0.5s;
  cursor: pointer;
}

.welcome:hover {
  color: #ffffff;  
}

.newEvent {
  font-family: 'Oswald', sans-serif;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  padding: 0 15px;
  cursor: pointer;
  font-weight: 400;
  box-shadow: 0px 0px 10px 0px rgba(88, 87, 87, 0.682);
  transition: 0.5s;
}

.newEvent:hover {
  box-shadow: 0px 0px 15px 5px rgba(149, 148, 148, 0.7);
  background-color: #fff;
  color: #000;
}

.container {
  background-color: #5e5b5b;
  height: 500px;
  width: 700px;
  margin: 100px auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-family: 'Secular One';
  color: #ffffff;
  margin-bottom: 20px; 
}

.rsvp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

#title-rsvp {
  font-size: 35px;
  font-family: 'Secular One';
}

.title-rsvp {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  height: 40px;
  color: #000000;
  margin-top: 7px;
}

.subtitle {
  color: #848383;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
}
.subtitle:hover {
  color: #1f1919;
  cursor: pointer;
}

.link-rsvp {
  font-family: 'Secular One';
  font-size: 12px;
  padding-right: 5px;
}

.input-rsvp {
  width: 30%;
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.event-full {
  font-family: 'Secular One';
  font-size: 25px;
  color: #ff0000;
}

.tooltip{
  color: #fff;
  position: relative;
  top: 20px;
  padding: 6px 8px;
  background: rgb(15, 15, 15);
  text-align: center;
  font-size: 16px;
  border-radius: 16px;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.hide{
  display: none;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}


.submit {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #000000d7;
  color: #fff;
  box-shadow: 0px 0px 15px 5px rgba(149, 148, 148, 0.7);
}

.submit-rsvp {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-rsvp:hover {
  font-size: 18px;
}

.confirm {
  width: 320px;
  background-color: #f2f2f2;
  box-shadow: 1px 4px 10px rgba(0,0,0,0.2);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.confirm-button {
    background-color: #000000;
    height: 30px;
    width: 70px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.4s ease;
  }
  
  .confirm-button:hover {
    opacity: 0.8;
  }

  .show-copy-text {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}



footer {
  position: fixed; /* Fixa o footer na parte inferior da janela do navegador */
  bottom: 0; /* Coloca o footer no fundo da janela */
  width: 100%;
  color: #f5f5f5;
  font-family: 'Secular One';
  background-color: #0e0c0c;
  font-size: 16px;
  padding: 0 0;
  font-weight: 400;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: #0e0c0c;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 400;
}


/* Estilos para telas maiores (desktop) */
.welcome-container {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



@media (max-width: 768px) {
  body {
    background-size: 300%;
  }

  .welcome-container {
    margin-top: 40px;
    padding: 20px; 
  }

  .container {
    max-width: 90%; 
    margin-top: 200px;
  }

  .newEvent {
    margin-top: 10px;
  }

  .input, .submit {
    padding: 8px;
    width: 80%;
  }

  .confirm {
    width: 290px;
  }

  .link-rsvp {
    width: 60%;
  }


}

@media(max-width: 480px) {
  .container {
    max-width: 80%;
  }
  .confirm {
    width: 270px;
    font-size: 15px;
  }

  .confirm-button {
    width: 40px;
    height: 15px;
    font-size: 11px;
    padding-bottom: 20px ;
    padding-right: 13px;
  }
}

