* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-image: url(./imgs/folhas.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
